In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_excel('inquirerbasic.xls')

In [4]:
df.shape

(11788, 186)

In [106]:
pd.isnull(df).sum()

Entry          0
Source         0
Positiv     9873
Negativ     9497
Pstv       10743
Affil      11231
Ngtv       10628
Hostile    10955
Strong      9886
Power      11099
Weak       11033
Submit     11504
Active      9743
Passive    10877
Pleasur    11620
Pain       11534
Feel       11739
Arousal    11622
EMOT       11477
Virtue     11069
Vice       11103
Ovrst      11092
Undrst     11469
Academ     11635
Doctrin    11571
Econ@      11278
Exch       11728
ECON       11286
Exprsv     11583
Legal      11596
           ...
WlbPt      11761
WlbTot     11301
EnlGain    11642
EnlLoss    11761
EnlEnds    11770
EnlPt      11727
EnlOth     11203
EnlTot     10953
SklAsth    11753
SklPt      11724
SklOth     11630
SklTot     11531
TrnGain    11659
TrnLoss    11675
TranLw     11454
MeansLw    11710
EndsLw     11518
ArenaLw    11754
PtLw       11720
Nation     11619
Anomie     11758
NegAff     11595
PosAff     11662
SureLw     11613
If         11656
NotLw      11763
TimeSpc    11360
FormLw     11420
Othtags       86
Defined      963
Length: 186, dtype: int64

In [107]:
df.columns

Index(['Entry', 'Source', 'Positiv', 'Negativ', 'Pstv', 'Affil', 'Ngtv',
       'Hostile', 'Strong', 'Power',
       ...
       'Anomie', 'NegAff', 'PosAff', 'SureLw', 'If', 'NotLw', 'TimeSpc',
       'FormLw', 'Othtags', 'Defined'],
      dtype='object', length=186)

In [121]:
dummy_df = df[['Entry','Positiv','Negativ']]

In [122]:
dummy_df

              Entry  Positiv  Negativ
0                 A      NaN      NaN
1           ABANDON      NaN  Negativ
2       ABANDONMENT      NaN  Negativ
3             ABATE      NaN  Negativ
4         ABATEMENT      NaN      NaN
5          ABDICATE      NaN  Negativ
6             ABHOR      NaN  Negativ
7             ABIDE  Positiv      NaN
8           ABILITY  Positiv      NaN
9            ABJECT      NaN  Negativ
10             ABLE  Positiv      NaN
11         ABNORMAL      NaN  Negativ
12           ABOARD      NaN      NaN
13          ABOLISH      NaN  Negativ
14        ABOLITION      NaN      NaN
15       ABOMINABLE      NaN  Negativ
16         ABORTIVE      NaN      NaN
17           ABOUND  Positiv      NaN
18          ABOUT#1      NaN      NaN
19          ABOUT#2      NaN      NaN
20          ABOUT#3      NaN      NaN
21          ABOUT#4      NaN      NaN
22          ABOUT#5      NaN      NaN
23          ABOUT#6      NaN      NaN
24          ABOUT#7      NaN      NaN
25          ABOVE#1      NaN      NaN
26          ABOVE#2      NaN      NaN
27          ABOVE#3      NaN      NaN
28          ABOVE#4      NaN      NaN
29         ABRASIVE      NaN  Negativ
...             ...      ...      ...
11758       YIELD#2      NaN      NaN
11759          YOKE      NaN      NaN
11760        YONDER      NaN      NaN
11761          YORK      NaN      NaN
11762         YOU#1      NaN      NaN
11763         YOU#2      NaN      NaN
11764         YOU#3      NaN      NaN
11765         YOU#4      NaN      NaN
11766       YOUNG#1      NaN      NaN
11767       YOUNG#2      NaN      NaN
11768       YOUNG#3      NaN      NaN
11769     YOUNGSTER      NaN      NaN
11770          YOUR      NaN      NaN
11771         YOURS      NaN      NaN
11772    YOURSELF#1      NaN      NaN
11773  YOURSELVES#1      NaN      NaN
11774       YOUTH#1      NaN      NaN
11775       YOUTH#2      NaN      NaN
11776      YOUTHFUL      NaN      NaN
11777    YUGOSLAVIA      NaN      NaN
11778          ZEAL      NaN      NaN
11779     ZEALAND#1      NaN      NaN
11780     ZEALAND#2      NaN      NaN
11781       ZEALOUS      NaN      NaN
11782           ZEN      NaN      NaN
11783        ZENITH  Positiv      NaN
11784          ZERO      NaN      NaN
11785          ZEST  Positiv      NaN
11786          ZINC      NaN      NaN
11787          ZONE      NaN      NaN

[11788 rows x 3 columns]

In [123]:
dummy_df.shape

(11788, 3)

In [124]:
dum_df  = dummy_df.dropna(inplace = False,thresh = 2,axis = 0)

In [125]:
dum_df.shape

(4206, 3)

In [126]:
dum_df[['Entry','count']] =  dum_df['Entry'].str.split('#',expand = True)

C:\Users\MARK\Anaconda3\lib\site-packages\pandas\core\frame.py:2450: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [127]:
dum_df.replace('None',np.nan,inplace = True,regex=True)

C:\Users\MARK\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [118]:
dum_df.dropna(inplace = True,axis = 0,subset=['count'])

C:\Users\MARK\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [128]:
dum_df.shape

(4206, 4)

In [130]:
dum_df = dum_df[dum_df['count'].isnull()]

In [137]:
seed_words_df = dum_df.iloc[:,:3]

In [139]:
seed_words_df.shape

(3092, 3)

In [141]:
seed_words_df.to_csv('seed_words.csv')